/* Product page addons */

.complementary-products__container .card--horizontal .card__inner {
    max-width: 100% !important;
    flex-shrink: 2;
}

.complementary-products__container .card.card--horizontal {
    align-items: center;
}

.complementary-products__container .card__content {
    display: flex;
    flex-direction: column;
}

.complementary-products__container .quick-add {
    max-width: 100% !important;
    display: flex;
}

.complementary-products__container .quick-add .button--secondary:after {
    border-radius: 5px
}

.complementary-products__container .summary__title h2 {
    font-weight: bold;
    font-size: calc(var(--font-heading-scale) * 2rem);
}

/* Product page note */

.note-for-complementary-products {
    color: rgb(var(--color-base-background-1));
    background-color: var(--gradient-base-accent-1);
    border-radius: 1em;
    padding: 1em;
    box-shadow: #00000060 0.2em 0.2em 1em;
}

/* Product page options */

.product-form__input input[type=radio]:checked+label {
   background-color: var(--gradient-base-accent-1) !important;
}

/* Custom icon for cart button */

.product-form__submit span {
    padding-left: 1.5em;
}

.product-form__submit span::before {
    content:'';
    display:block;
    background: url('icon-trike-cart.svg') no-repeat;
    width: 1.5em;
}


/* Comment page you are editing! */