/* Product page addons */

.complementary-products__container .card--horizontal .card__inner {
    max-width: 100% !important;
    flex-shrink: 2;
}

.complementary-products__container .card.card--horizontal {
    align-items: center;
}

.complementary-products__container .card__content {
    display: flex;
    flex-direction: column;
}

.complementary-products__container .quick-add {
    max-width: 100% !important;
    display: flex;
}

.complementary-products__container .quick-add .button--secondary:after {
    border-radius: 5px
}

.complementary-products__container .summary__title h2 {
    font-weight: bold;
    font-size: calc(var(--font-heading-scale) * 2rem);
}

/* Product page note */

.note-for-complementary-products::before {
    content: '';
    display: block;
    background-color: rgb(var(--color-base-accent-2));
    -webkit-mask-image: url('warning-outline.svg');
    mask-image: url('warning-outline.svg');
    width: 2.5em;
    height: 2.5em;
    margin: -.2em auto .5em;
}

.note-for-complementary-products {
    font-size: 1.4rem;
    border: solid 0.1em rgb(var(--color-base-accent-2));
    border-radius: 1em;
    padding: 1em;
    box-shadow: rgba(var(--color-base-accent-2), 0.4) 0.1em 0.2em 0.6em;
}

/* Product page options */

.product-form__input input[type=radio]:checked+label {
   background-color: var(--gradient-base-accent-1) !important;
}

/* Custom icon for cart button */

.product-form__submit span {
    padding-left: 2.5em;
}

.product-form__submit span::before {
    content:'';
    display:block;
    background: url('icon-trike-cart.svg') no-repeat;
    width: 2.5em;
    height: 1em;
    float: left;
}

/* Youtube Video iframe in rich text */

.rich-text__text iframe {
    height: 40vh;
    width: auto;
    max-width: 100%;
    aspect-ratio: 16/9;

}

/* Custom footer nav bar style */

.footer-block__details-content .list-menu__item--link {
    text-decoration: underline;
}

/* Fix nav menu bug of theme */
.list-menu--disclosure {
    width: auto !important;
    min-width: 20rem !important;
}

/* Comment page you are editing! */

#Slide-template--16752291545376__0fe1796e-fe07-4c90-9b06-4a6a193e2996-1 {
    font-weight: bold !important;
    font-size: 200% !important;
    image-width:100% !important;
}
/* Testzone Helge */
.vorschaubox {
  /*outline: 1px solid grey;*/
  /*width: 1300px;*/
  display:flex;
  
  flex-direction: row;
  justify-content: flex-start;
  gap: 0%;
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.vorschaubox-thumb {  
min-width: 30em;
  max-width: 40%;
  flex-grow: 1;
  outline: 1px solid light-grey;
  padding: 00px;
  margin: 0px;
  flex: 0 1 auto;
  border-radius: 10px 0px 0px 10px;
  }
@media only screen and (max-width: 600px) {
  .vorschaubox {   
    flex-direction: column;
    background-color: white;
  }
  .vorschaubox-thumb {
    width: 100%;
    max-width:100%;
  }
}

.vorschaubox-thumb img {
  width: 100%;
}
.vorschaubox-info {
  /*outline: 1px solid blue;*/
  margin: 0px 0px 0px 15px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
  gap: 1em;
  }

.vorschaubox-box {  
  /*outline: 1px solid black;*/
  /*font-weight: bold;*/
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0px 0px;
  margin: 0px;
  /*border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px   6px 12px -2px, rgba(0, 0, 0, 0.3) 0px     3px 7px -3px;*/
  }
/*CSS für Themenwelt Seiten*/
.body{
  background-color: white !important;
}
.heading {
  font-size: 2em;
  margin-bottom: 1em;
}
  
.vorschaubox-button {  
  /*outline: 1px solid blue;*/
  /*font-weight: bold;*/
  font-size: 1em;
  color: white;
  padding: 1em 2em;    
  background-color: #01314b;
  margin: 0px;
  border-radius: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

.le-main-content {
  display: flex;
  flex-direction: column;
  /*width: 1300px;*/
  justify-content: center;
  align-items: center;
}

.titelbild {
  margin-bottom: 3.5 em;
  box-shadow: none !important;
 }

.titelbild img {
  width:100%
  box-shadow: none !important;
}

.absatz {
  text-align: justify;
  margin: 2em 0em;
  /*padding: 0em 5em;*/
}

.zitat-wrap {
  padding: 1em 2em 0.5em;
}
.zitat {
  text-align: justify;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  }

.autor {
  font-size: 0.8em;
  padding: 0.3em 0em;
  font-style: italic;
}
.bild-fullwidth {
  margin: 2em 0em;
}

.bild-fullwidth img{
  width: 100%;
}

.button-wrap{
  
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: #01314b;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px   6px 12px -2px, rgba(0, 0, 0, 0.3) 0px     3px 7px -3px;
}
.button-icon

.button-text{
  font-weight: bold;
}
.yt-thumb{
  width:100%;
}

.yt-thumb img{
  width:100%;
}

.image {
  width: 80%;
  box-shadow: none;
}
.image img{
  width: 100%;
}
.headline {
  font-size: 3em;
  padding: 2em 0em 0em 0em;
}
.meilenstein{
  width: 90%;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px   6px 12px -2px, rgba(0, 0, 0, 0.3) 0px     3px 7px -3px;
  margin: 2em 0em;
  padding: 1em;
  display: flex;
  flex-direction:column;
  justify content: center;
  align-items: center;
}

.jahreszahl {
  font-weight: bold;
  font-size: 1.5em;
  color: #01314b;
  margin: 0 0 0.4em 0;
}
.jahrestext{
 text-align: justify;
  padding: 0em 1em;
  }





