.complementary-products__container .card--horizontal .card__inner {
    max-width: 100%;
    flex-shrink: 2;
}

.complementary-products__container .card.card--horizontal {
    align-items: center;
}

.complementary-products__container .card__content {
    display: flex;
    flex-direction: column;
}

.complementary-products__container .quick-add {
    max-width: 100% !important;
    display: flex;
}

.complementary-products__container .quick-add__submit {
    padding: 0.8rem 1rem;
}

.complementary-products__container .quick-add .button--secondary:after {
    border-radius: 5px
}